// Сброс стилей по умолчанию
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a,
button,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Обеспечивает предсказуемое поведение размеров элементов
}

html {
    font-size: 16px; // Устанавливаем базовый размер шрифта
}

body {
    font-family: Arial, sans-serif; // Устанавливаем шрифт по умолчанию
    line-height: 1.5; // Устанавливаем высоту строки для улучшения читаемости
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal; // Убираем жирность заголовков
}

ul {
    list-style: none; // Убираем маркеры у списков
}

a {
    text-decoration: none; // Убираем подчеркивание у ссылок
    color: inherit; // Устанавливаем цвет ссылок как у родительского элемента
}

button {
    cursor: pointer; // Изменяем курсор при наведении на кнопку
}

img {
    max-width: 100%; // Обеспечиваем адаптацию изображений к размеру контейнера
    height: auto; // Сохраняем пропорции изображений
}